* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 15vh;
    border: 1px dotted black;
    transition: .5s ease-in-out;
}

nav {
    width: 100%;
    height: 100%;
    transition: 3s ease;
}

nav .navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    margin-left: 40%;
}

.navbar li {
    padding: 0 10px;
}

.navbar li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
    transition: .2s ease-in-out;
}

.navbar li a:hover {
    color: yellow;
}

header:hover {
    border: 1px dotted wheat;
}

.container {
    background-image: url("lorde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    margin: auto;
    z-index: -2;
    position: relative;
    margin-top: 5px;
}

.container::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.8;
}

.headline {
    z-index: 3;
    margin-top: -150px;
    margin-left: -300px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: crosshair;
    transition: .5s ease-in-out;
    position: absolute;
    color: white;
}

.headline:hover {
    color: aquamarine;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
    background-color: black;
}